# Data Science Tools and Ecosystem

## In this notebook Data Science Tools and Ecosystem are summarized

### **Objectives:**
- List popular languages for Data Science
- List popular libraries for Data Science
- List popular tools for Data Science

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

### Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Matpltlib

|Data Science Tools|
--------------------
|Jupyter Notebook|
|RStudio|
|VSCode|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
#This will convert 200 minutes to hours by diving by 60
a=200
b=(a/60)
print (a, "minutes is equal to", b, "hours")

200 minutes is equal to 3.3333333333333335 hours

## Author 
Frederico Assis